# General NPM settings
engine-strict=true
resolution-mode=highest
# Auth for Google Artifact Registry (npm) using service account
@felix:registry=https://us-central1-npm.pkg.dev/felix-tech-production/overseer-sdk-ts/
//us-central1-npm.pkg.dev/felix-tech-production/overseer-sdk-ts/:always-auth=true

//us-central1-npm.pkg.dev/felix-tech-production/overseer-sdk-ts/:_authToken="ya29.A0AS3H6NwBAm4otz7KECxVtmiyRxOzs4fhVi5n0xBxRGlgsHebwq7-tKt30-5QN2LF66_fCH8EDEI2jAgflVWQM4Ae4Aj-iCTaOG9NWwVdgGgEL8JOYhvWz8oiLiaBY30EdJlRnaH9lC12xZcU1roAgh3gL1maNIvUdJJ8kcevThKLP2Q0Jwz9RT2XhOKhWR1HfbqdK0dxcfLDaCgYKAWoSAQ8SFQHGX2MiTQpZo5BV0eZBn6fVukFFUA0211"